.container{
    width : 50%;
    height :300px;
    background-color: rgba(102, 205, 171, 0.502);
    margin-left: 300px;
    border: solid 2px;
    margin-top: 190px;
}
.header{
   text-align: center;
    padding : 7px 0;
    border: solid 1px;
    border-top :none;
    border-right: none;
    border-left: none;
}
.nav{
    float: left;
    border: solid 2px;
    width:15%;
    height:236px;
    border-bottom: none;
   border-top: none;
   border-left: none;
}
.section{
    float: right;
   border: solid 2px;
   width:15%;
   height:236px;
   border-right: none;
   border-bottom: none;
   border-top: none;
}
.footer{
    margin-top: 235px;
    text-align: center;
    border: solid 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}